{% extends "base.html" %}
{% block content %}
  <div class="row">
      <div class="col-3">
          <h1>Состояние загрузки</h1>
          <p style="color:gray">Обновление групп:</p> OK +0 (2 сек)<br>
          <p style="color: gray">Загрузка людей из VK:</p> OK +2 (65 сек)<br>
          <p style="color: gray">Загрузка людей из my.nsu:</p> Passed (0 сек, last: 58 мин)<br>
          <p style="color: gray">Сопоставление:</p> OK +0 (43 сек) <br>
          <p style="color: black">Загрузка постов:</p> In progress... 47%, +2, (10 минут прошло, осталось 9 минут)<br>
          <p style="color: black">Преобразование в леммы:</p> Waiting... <br>

      </div>
  </div>

{% endblock %}
