{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <div class="row">

        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Сессия <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></div>
                <div class="panel-body">
                    <h5>Основные циклы:</h5>
                    186 дней (Идёт на спад; минимум через 70 дней)<br>
                    335 дней (Растёт; следующий пик через 10 дней)<br>
                    199 дней (Растёт; следующий пик через 94 дня)<br>
                    168 дней (Растёт; следующий пик через 70 дней)<br>
                    <h5>Сейчас:</h5>
                    Производная растёт; средняя плотность 1.0368 постов/день<br>
                    <h5>Пики:</h5>
                    Последний локальный максимум: 3 мая 2017, 0.216 постов/день<br>
                    Последний локальный минимум: 18 апреля 2017, 0.155 постов/день<br>
                    Годовой максимум: 10 февраля 2017, 1.382 постов/день<br>
                    Годовой минимум: 2 августа, 0 постов/день<br>
                    <h5>Производная:</h5>
                    Растёт, сейчас 0.074 постов/день^2<br>
                    Последний переход через 0: 1 апреля 2017<br>
                    Последний локальный максимум: 11 мая 2017, 0.0141 постов/день^2<br>
                    Последний локальный минимум: 1 апреля 2017, -0.007 постов/день^2<br>
                    Годовой максимум: 28 мая 2016, 0.063 поста/день^2<br>
                    Годовой минимум: 2 февраля 2017, -0.104 постов/день^2<br>
                </div>
            </div>
        </div>

    </div>

{% endblock %}