{% extends "base.html" %}
{% block content %}
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">Сессия</div>
            <div class="panel-body">
                Выброс производной 23 часа назад
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Экзамен</div>
            <div class="panel-body">
                Выброс производной 30 часов назад
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Игра</div>
            <div class="panel-body">
                Переход производной через ноль (вниз) 34 часа назад
            </div>
        </div>



{% endblock %}